@import "_vars.css";
@import "./fonts.css";
@import "libs/jquery.fileuploader.min.css";
@import "libs/jquery.fileuploader-theme-thumbnails.css";
@import "main.css";
@import "layouts/header.css";
@import "layouts/footer.css";
@import "home/news.css";
@import "./template.css";
@import "cemeteries/cemetery_pagination.css";
@import "profiles/main.css";
@import "cemeteries/cemetery_card.css";
@import "map.css";
@import "cabinet/cabinet.css";
@import "community/community.css";
@import "layouts/responsive.css";


/* Breadcrumbs
------------------------*/

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.breadcrumbs__item {
    position: relative;
    padding-right: 24px;
}

.breadcrumbs__item:before {
    content: "/";
    position: absolute;
    top: 0;
    right: 10px;
    color: #b5b6b8;
}

.breadcrumbs__item:last-child:before {
    content: none;
}

.breadcrumbs__link, .breadcrumbs__item:last-child .breadcrumbs__link:hover {
    transition: var(--normal);
    border-bottom: 1px solid transparent;
    font: 400 14px sans-serif;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
    color: #cdd1d6;
}

.breadcrumbs__link:not(.breadcrumbs__item:last-child .breadcrumbs__link) {
    color: #b5b6b8;
}

.breadcrumbs__link:hover:not(.breadcrumbs__item:last-child .breadcrumbs__link) {
    color: var(--blue);
    border-color: var(--blue);
}


.list, .member-card, .pet-card-wrap {
    background-color: var(--gray);
}

.cemeteries__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.cemetery-title-wrap {
    width: 100%;
    padding: 26px var(--content-size) 0;
    background-color: #fff;
    border-bottom: 1px solid var(--light-gray);
}

.cemetery-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.cemetery-title-img {
    width: 122px;
    height: 122px;
    position: relative;
    overflow-y: hidden;
    border-radius: 50%;
}

.cemetery-named-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cemetery-named {
    width: calc(100% - 122px);
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cemetery-photo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    position: relative;
    top: 20px;
}

.cemetery-photo__item, .cemetery-photo__link {
    width: 100%;
    display: block;
}

.cemetery-photo__item.hide {
    display: none;
}

.cemetery-photo__link {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.photo-hide {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 12px;
    left: 0;
    padding: 0 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.cemetery-named__title {
    font-size: 30px;
    color: var(--black);
    margin-bottom: 30px;
    width: 100%;
}

.cemetery-named__info {
    color: rgba(32, 30, 31, .7);
    font-size: 16px;
}

.cemetery {
    width: 100%;
    padding: 0;
}

.cemetery-menu, .community-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 1px;
    margin-top: 40px;
}

.cemetery-menu__item, .community-nav__item {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 14px 24px;
    border-radius: 7px 7px 0 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--normal);
    border-bottom: none;
    color: rgba(32, 30, 31, .7);
    cursor: pointer;
}

.cemetery-menu__item.current, .community-nav__item.current {
    border-color: var(--light-gray);
    background-color: var(--gray);
    color: var(--black);
}

.cemetery-menu__item:hover, .community-nav__item:hover {
    color: var(--black);
}

.cemetery-content {
    width: 100%;
    padding: 24px var(--content-size) 64px;
    background-color: var(--gray);
    border: 1px solid var(--gray);
    overflow: hidden;
}

.cemetery-content__item {
    opacity: 0;
    position: absolute;
    transition: var(--normal);
    height: 0;
    overflow: hidden;
}

.cemetery-content__item.current {
    opacity: 1;
    position: relative;
    z-index: 10;
    height: auto;
    overflow: visible;
}

.cemetery-text-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.cemetery-text p {
    color: rgba(32, 30, 31, .7);
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 24px;
}

.cemetery-text p:last-child {
    margin-bottom: 0;
}

.famous-persons__title {
    color: rgba(32, 30, 31, .8);
    font: 700 20px sans-serif;
}

.famous-persons__map {
    margin-top: 32px;
}

.famous-persons__map, .cemetery-contacts-map {
    padding-top: 50%;
    overflow: hidden;

    /*удалить следующие (ниже) стили при вставке карты*/
    background-color: rgba(32, 30, 31, .7);
    color: #fff;
}

.famous-persons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.famous-persons__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--light-gray);
    border-radius: 64px;
    margin: 8px 10px 0 0;
    padding: 3px;
}

.famous-persons-img {
    width: 34px;
    height: 34px;
}

.famous-persons__name {
    font: 600 14px sans-serif;
    padding: 2px 16px 2px 8px;
    color: var(--black);
}

.memorials__item {
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    padding: 9px 18px;
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.memorials__item:last-child {
    margin-bottom: 0;
}

.memorials-img {
    width: 68px;
    height: 68px;
}

.famous-persons-img, .memorials-img {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.memorials-info {
    width: calc(100% - 68px);
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.memorials-info__name {
    line-height: 1.4;
    font-size: 16px;
    color: var(--black);
}

.memorials-info__ages {
    color: rgba(32, 30, 31, .8);
    font-size: 14px;
    margin-top: 6px;
}

.price {
    width: 100%;
    display: grid;
    grid-template-columns: 272px 1fr;
    grid-gap: 18px;
}

.price .cemeteries-buttons {
    grid-column: 2/3;
}

.price-filter {
    width: 100%;
    height: max-content;
    background-color: #fff;
    border-radius: 7px;
    padding: 12px 32px;
}

.price-filter__item {
    padding: 7px 0;
}

.price-filter__link {
    color: rgba(32, 30, 31, .6);
    font: 600 18px sans-serif;
    transition: var(--normal);
}

.price-filter__item.active .price-filter__link, .price-filter__link:hover {
    color: var(--blue);
}

.price-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px 16px;
    width: 100%;
}

.price-list__item {
    background-color: #fff;
    padding: 16px 12px;
    border: 1px solid var(--gray);
    border-radius: 7px;
}

.price-list__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.price-img {
    max-height: 200px;
}

.price-title {
    color: var(--black);
    transition: var(--normal);
    font: 100 14px sans-serif;
    margin-top: 16px;
}

.price-title:hover {
    color: var(--blue);
}

.price-list-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.price-title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cost {
    font: 700 18px sans-serif;
    color: var(--black);
}

.buy {
    font: 700 18px sans-serif;
    color: var(--blue);
}

.cemetery-contacts {
    width: 100%;
    background-color: #fff;
    padding: 24px 27px;
    border-radius: 0 0 7px 7px;
}

.button-add-message, .button-route {
    width: 100%;
    height: 54px;
    line-height: 1.3;
    font: 600 14px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .05em;
    transition: var(--normal);
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
}

.button-add-message {
    background-color: var(--blue);
    margin-bottom: 8px;
    color: #fff;
}

.button-add-message:hover {
    background-color: #6799ef;
}

.button-route {
    border: 1px solid var(--blue);
    color: var(--blue);
}

.button-route:hover {
    color: #fff;
    background-color: var(--blue);
}

.cemetery-contacts-list {
    margin-bottom: 44px;
}

.cemetery-contacts-list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

.cemetery-contacts-list__title {
    font-size: 14px;
    color: var(--black);
}

.cemetery-contacts-list__text {
    font-size: 18px;
    color: var(--black);
    transition: var(--normal);
}

a.cemetery-contacts-list__text:hover {
    color: var(--blue);
}

.cemeteries {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 26px;
}

.cemeteries__item {
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    color: var(--black);
    padding: 15px;
}

.cemeteries-img {
    width: 118px;
    height: 118px;
    position: relative;
    overflow: hidden;
    margin-right: 24px;
}

.cemeteries-info {
    width: calc(100% - 142px);
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.cemeteries-info__title {
    color: var(--black);
    font: 600 18px sans-serif;
    line-height: 1.1;
    transition: var(--normal);
}

.cemeteries-info__city {
    color: var(--dark-gray);
    font-size: 16px;
}

.cemeteries__item:hover .cemeteries-info__title {
    color: var(--blue);
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: relative;
    z-index: 10;
}

.cemeteries-buttons {
    width: 100%;
    margin: 32px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-more {
    padding: 10px 15px;
    min-width: 194px;
    position: relative;
    left: 50px;
}

.cemeteries-buttons:before {
    content: "";
}

.pagination-left, .pagination-right {
    border: 1px solid var(--light-gray);
    border-radius: 7px;
    color: rgba(32, 30, 31, .3);
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--normal);
    cursor: pointer;
}

.pagination-left:hover, .pagination-right:hover {
    background-color: #fff;
    color: var(--black);
}

.cemeteries-pagination {
    display: flex;
    align-items: center;
}

.pagination-number {
    display: flex;
    font-size: 18px;
    margin: 0 20px;
    color: rgba(32, 30, 31, .6);
}

.pagination-number__delimiter {
    margin: 0 8px;
}

.pagination-number__current {
    color: var(--black);
}

.left-arrow, .right-arrow {
    width: 14px;
    height: 8px;
    fill: rgba(32, 30, 31, .6);
    transition: var(--normal);
}

.left-arrow {
    transform: rotate(90deg);
}

.right-arrow {
    transform: rotate(-90deg);
}

.pagination-left:hover .left-arrow, .pagination-right:hover .right-arrow {
    fill: var(--black);
}

.search-filter {
    background-color: #fff;
    border-radius: 44px;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 600 18px sans-serif;
    height: 44px;
    width: 150px;
    cursor: pointer;
}

.search-filter:hover .search-filter__title {
    color: var(--blue);
}

.search-filter__title {
    padding: 0 28px;
    transition: var(--normal);
    font: 600 18px sans-serif;
}

.search-filter__icon {
    border-radius: 50%;
    border: 1px solid var(--light-gray);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-filter__icon svg {
    fill: var(--blue);
    width: 18px;
    height: 18px;
}

.search-filter__current-filters {
    color: #fff;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    right: -8px;
    top: -8px;
    font-size: 14px;
}

.select-search {
    background-color: rgba(245, 247, 249, .7);
    border-radius: 44px;
    display: flex;
    border: 1px solid #fff;
}

.select-search__map, .select-search__list {
    padding: 0 24px;
    height: 44px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--normal);
    background-color: transparent;
    border-radius: 44px;
    font-size: 16px;
}

.select-search__map.active, .select-search__list.active {
    background-color: #fff;
}

.select-search__map:hover, .select-search__list:hover {
    color: var(--blue);
}

.select-search__map.active:hover, .select-search__list.active:hover {
    color: var(--black);
    cursor: auto;
}

.map {
    width: 100%;
    min-height: calc(100vh - 97px);
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr 360px;
    position: relative;
    padding-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-gap: 20px;
}

.map-results {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 7px;
    height: 588px;
}

.map-results__title-wrap {
    width: 100%;
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--gray);
}

.map-results__title {
    color: rgba(32, 30, 31, .7);
    font-size: 14px;
}

.map-results__unwrap {
    padding: 0 18px;
    height: 36px;
    background-color: #fff;
    border-radius: 7px;
    color: rgba(23, 94, 217, .7);
    justify-content: center;
    align-items: center;
    width: max-content;
    display: none;
}

.map-results__unwrap svg {
    width: 14px;
    height: 8px;
    fill: rgba(23, 94, 217, .7);
    margin-left: 5px;
}

.map-wrap {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 94, 217, 0.34);
}

.map-results__list {
    width: 100%;
    max-height: calc(100% - 44px);
    overflow-y: scroll;
    padding: 0 20px;
}

.map-results__list::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(61, 64, 80, 0);
    border-radius: 3px;
}

.map-results__list::-webkit-scrollbar-thumb {
    background-color: #5f5f60;
    border-radius: 9em;
}

.map-results__link {
    width: 100%;
    height: 76px;
    padding: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.map-results__img {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    margin-right: 16px;
}

.map-results__info {
    width: calc(100% - 76px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.map-results__info:hover .map-results__name {
    color: var(--blue);
}

.map-results__name {
    line-height: 1.1;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 4px;
    transition: var(--normal);
}

.map-results__years {
    color: rgba(32, 30, 31, .8);
    font-size: 14px;
}

.member-card, .pet-card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.member-images-wrap {
    height: 100%;
    background-color: var(--light-gray);
}

.member-images, .pet-images {
    width: 100%;
    padding: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: max-content;
}

.pet-images {
    padding: 30px 0;
}

.member-images__item {
    width: 100%;
}

.member-images__item a {
    width: 100%;
    display: block;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.video-play {
    width: 31px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    fill: var(--blue);
}

.member-info {
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
}

.member-avatar, .member-avatar__wrap {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    position: relative;
}

.member-avatar__wrap {
    overflow: hidden;
}

.member-avatar__change-link svg {
    width: 16px;
    height: 16px;
    fill: var(--black);
    transition: var(--normal);
}

.member-info-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.member-avatar__change-link {
    width: 32px;
    height: 32px;
    display: flex;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: -10px;
}

.member-avatar__change-link:hover svg {
    fill: var(--blue);
}

.member-name-wrap {
    width: calc(100% - 71px);
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.member-name {
    line-height: 1.1;
    color: var(--black);
    font: 900 30px sans-serif;
}

.member-ages {
    margin-top: 10px;
    font-size: 16px;
    color: var(--black);
}

.member-info-biography {
    margin-top: 15px;
}

.member-info-biography p {
    color: var(--dark-gray);
    font-size: 14px;
    margin-top: 10px;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 0;
}

.social__item {
    margin-right: 10px;
}

.social__item img {
    width: 25px;
    transition: var(--normal);
}

.social__item:hover img {
    transform: scale(1.05);
}

.interests, .relatives-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.interests__item {
    background-color: var(--light-gray);
    border-radius: 32px;
    color: var(--dark-gray);
    padding: 5px 15px;
    margin: 12px 6px 0 0;
    font: 600 14px sans-serif;
}

.relatives {
    margin-top: 32px;
}

.relatives__title {
    color: var(--dark-gray);
    line-height: 1.1;
    font: 900 20px sans-serif;
}

.relatives-list {
    margin-top: 10px;
}

.relatives-list__item {
    margin: 8px 4px 0 0;
}

.relatives__link {
    background-color: #fff;
    border: 1px solid var(--light-gray);
    border-radius: 64px;
    display: flex;
    padding: 3px;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
}

.relatives__avatar {
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}

.relatives__name, .view-relatives__text {
    padding: 2px 16px 2px 8px;
    font: 600 14px sans-serif;
}

.relatives__name {
    color: var(--black);
}

.view-relatives__text {
    color: var(--blue);
}

.relatives__link:hover .relatives__name, .view-relatives:hover .view-relatives__text {
    text-decoration: underline;
}

.view-relatives {
    background-color: #fff;
    border: 1px solid var(--light-gray);
    border-radius: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
    width: max-content;
    margin-top: 10px;
}

.view-relatives__icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
}

.view-relatives__icon svg {
    fill: var(--blue);
    width: 20px;
    height: 25px;
}

.steep-wrap.grid-col-2 {
    grid-column-gap: 40px;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.open-map {
    display: block;
    margin-right: auto;
    font: 600 16px/131.5% "Lato", sans-serif;
    color: #175ED9;
}

.icon-pdf {
    width: 51px;
    height: 51px;
    margin: auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hystmodal__window {
    border-radius: 5px;
    padding: 30px 30px;
}

.hystmodal__window--long {
    width: 1000px !important;
}

/* page not found
---------------*/
.page-not-found {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--gray);
    padding: 0;
}

.page-not-found-wrap {
    width: calc(100% - 140px);
    padding: 16px 70px 48px;
    background-color: #fff;
}

.page-not-found__title {
    color: var(--blue);
    font: bold 51px/1 Lato, sans-serif;
}

.page-not-found__text {
    margin-top: 16px;
    color: var(--black);
}

.page-not-found__link {
    font: 400 14px/1 Lato, sans-serif;
    display: inline-block;
    margin-top: 10px;
    color: var(--blue);
}

.page-not-found__link:hover {
    text-decoration: underline;
}


.new-password {
    padding: 32px var(--content-size);
}

.new-password__title {
    font: 900 62px sans-serif;
    margin-bottom: 10px;
    color: var(--black);
}

.form-new-password {
    display: grid;
    grid-template-columns: 295px 1fr;
    grid-gap: 108px;
    margin-top: 18px;
}

.form-new-password .input-wrap:first-child {
    margin: 0;
}

.form-new-password__text {
    max-width: 382px;
}


/***family-tree*/
.tree__inner {
    position: relative
}

.tree__nav {
    left: 0;
    top: 30px;
    transform: none
}

.tree__nav {
    left: 15%;
    position: absolute;
    top: 6px;
    /*transform: translateX(-50%);*/
    z-index: 10
}

.tree-nav__items {
    display: flex
}

.tree-nav__link {
    align-items: center;
    background: none;
    border: 1px solid transparent;
    border-radius: 7px;
    color: rgba(32, 30, 31, .7) !important;
    display: flex;
    font-size: 14px;
    height: 54px;
    justify-content: center;
    max-width: calc(50vw - 20px);
    padding: 0;
    text-decoration: none !important;
    white-space: nowrap;
    width: 172px
}

.tree-nav__link.active, .tree-nav__link:focus, .tree-nav__link:hover {
    color: #201e1f !important
}

.tree-nav__link.active {
    background: #fff;
    border-color: #e5e8eb;
    box-shadow: 0 0 30px 0 rgba(15, 20, 37, .1);
    pointer-events: none
}

.tree__content {
    background: none !important;
    height: 100%
}

.tree__content .node {
    cursor: pointer;
    height: 164px
}

.tree__content .node:focus .node-edit, .tree__content .node:hover .node-edit {
    opacity: 1
}

.tree__content .node-image {
    height: 95px;
    margin: 0 auto;
    width: 95px
}

.tree__content .node-image-inner {
    border-radius: 50%;
    height: 95px;
    margin: -32px 0 0;
    overflow: hidden;
    width: 95px
}

.tree__content .node-edit {
    background: #fff url(../../assets/media/tree/pencil.svg) no-repeat 50%;
    border: none;
    border-radius: 50%;
    height: 32px;
    margin-left: 63px;
    opacity: 0;
    padding: 0;
    right: 0;
    top: 0;
    transition: opacity .25s ease-in-out;
    width: 32px
}

.touch .tree__content .node-edit {
    opacity: 1
}

.tree__content .node-info {
    font-size: 12px;
    margin-top: 10px;
    text-align: center
}

.tree__content .node-name {
    font-weight: 600;
    margin-top: 6px
}

.tree-nav__link.active, .tree-nav__link:focus, .tree-nav__link:hover {
    color: #201e1f !important
}

.tree-nav__link.active {
    background: #fff;
    border-color: #e5e8eb;
    box-shadow: 0 0 30px 0 rgba(15, 20, 37, .1);
    pointer-events: none
}

.tree__controls {
    margin-top: 15px;
    position: fixed;
    background-color: #F5F7F9;
    right: 50%;
    transform: translateX(390%);
    z-index: 10
}

.tree__content {
    background: none !important;
    height: 100%
}

.tree-controls__button {
    padding: 12px 15px 10px;
}
