

/* style general
-----------------*/
*, :before, :after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    font: 400 14px "Lato", "Arial", sans-serif;
    line-height: 1.5;
}

body.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"], input[type="file"] {
    display: none;
}

:root {
    --content-size: calc(50% - 700px);
    --normal: .4s ease;
    --blue: #175ed9;
    --black: #201e1f;
    --red: #fa122e;
    --gray: #f5f7f9;
    --light-gray: #e5e8eb;
}

#page.active {
    filter: blur(5px);
}

section {
    width: 100%;
    padding: 0 var(--content-size);
}

.bg-img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.blue-btn, .white-btn:hover {
    color: #fff;
    background-color: var(--blue);
}

.blue-btn:hover {
    background-color: var(--blue-hover);
    color: #fff;
}

.white-btn {
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color: transparent;
}

.btn {
    height: 44px;
    text-transform: uppercase;
    transition: var(--normal);
    padding: 3px 15px 0;
    letter-spacing: .05em;
    border-radius: 7px;
    cursor: pointer;
}

.content {
    width: 100%;
    min-height: calc(100vh - 116px);
    display: flex;
    padding-top: 97px;
}

.preview {
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 59% 41%;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.preview-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.preview-img img {
    width: 744px;
}

.preview-img img:last-child {
    display: none;
}

.preview-form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}


.preview-form:after {
    content: "";
    height: 100%;
    width: 1000%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 100%;
}

.preview-form, .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 340px;
}

.login-form__title {
    line-height: 1.3;
    color: var(--black);
    text-align: left;
    width: 100%;
    font: 900 22px sans-serif;
}

.input-wrap {
    width: 100%;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-wrap__title {
    color: var(--dark-gray);
    font-size: 14px;
    margin-bottom: 0.2em;
    padding-bottom: 3px;
}

.form__submit {
    line-height: 1.3;
    font: 600 14px sans-serif;
    margin-top: 32px;
    min-width: 160px;
}

.login-form__registration-link {
    margin-top: 40px;
    color: var(--blue);
    font-size: 14px;
}

.login-form__registration-link:hover {
    text-decoration: underline;
}

.input-form, .select-form, .textarea-form {
    width: 100%;
    height: 44px;
    padding: 6px 18px;
    background-color: var(--gray);
    border: 1px solid #cdd1d6;
    border-radius: 7px;
    transition: var(--normal);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.input-form:hover, .input-form:focus-within, .select-form:hover, .select-form:focus-within, .textarea-form,
.textarea-form:focus-within {
    border: 1px solid var(--blue);
}

.textarea-form {
    min-height: 110px;
    resize: vertical;
}

.select-form {
    position: relative;
    padding-right: 30px;
    cursor: pointer;
}

.input-link {
    color: var(--blue);
    font-size: 14px;
    cursor: pointer;
}

.input-link:hover {
    text-decoration: underline;
}

.input-link + .input-text {
    width: calc(100% - 120px);
}

.input-text {
    width: 100%;
    color: var(--black);
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.no-valid {
    border-color: var(--red);
}

.no-valid ~ .is-invalid {
    display: block;
}

.is-invalid {
    display: none;
    color: var(--red);
    padding-left: 18px;
    font-size: 12px;
    margin: 2px 0 0;
    position: relative;
}

.is-invalid:before {
    content: "";
    border-radius: 50%;
    height: 4px;
    left: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    background-color: var(--red);
}

.preview-modal {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 81%, .6);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -150;
    overflow: hidden;
}

.preview-modal.open {
    opacity: 1;
    visibility: visible;
    z-index: 150;
    display: flex;
}

.preview-modal.aside-top {
    justify-content: center;
    align-items: flex-start;
}

.preview-modal.aside-right {
    justify-content: flex-end;
    align-items: flex-start;
}

.preview-modal.aside-top .form-registration, .preview-modal.aside-right .form-recover,
.preview-modal.aside-menu .form-registration, .preview-modal.aside-menu .form-recover {
    display: none;
}

.preview-modal.aside-top .aside-form {
    width: 100%;
    padding: 64px var(--content-size) 80px;
    height: auto;
    justify-content: flex-start;
}

.aside-form {
    width: 536px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    transition: var(--normal);
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
}

.aside-form.hide {
    display: none;
}

.form-registration {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-registration__text, .form-registration__text a {
    margin-top: 18px;
    text-align: center;
    color: var(--dark-gray);
    font-size: 14px;
}

.form-registration__text a {
    text-decoration: underline;
}

.form-registration__text a:hover {
    text-decoration: none;
}

.form-registration__title {
    width: 100%;
    text-align: left;
    font-size: 52px;
    color: var(--black);
}

.close-registration {
    position: absolute;
    top: 9px;
    right: 9px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid var(--light-gray);
    transition: var(--normal);
}

.close-registration:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-registration:after, .close-registration:before {
    content: "";
    border-radius: 1px;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 16px;
    background-color: var(--black);
}

.close-registration:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-registration:hover {
    opacity: .65;
}

.reg-visible .form-registration {
    display: flex;
}

.form-recover {
    width: 100%;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 1fr 520px;
    grid-column-gap: 10px;
    justify-content: flex-start;
}

.form-recover__title {
    font: 900 52px sans-serif;
    line-height: 1.3;
    color: var(--black);
}
