/* add profile
---------------*/
.add-profile {
    width: 100%;
    padding: 26px var(--content-size) 60px;
    background-color: var(--gray);
}

.add-profile-content {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 325px 1fr 325px;
    grid-gap: 50px;
}

.add-profile__text {
    font-size: 16px;
}

.add-profile-content__title {
    color: var(--black);
    font: 700 30px/1.1 sans-serif;
}

.steeps-nav__item {
    margin-top: 45px;
    cursor: pointer;
}

.steeps-nav__title {
    font: 700 20px/1.1 sans-serif;
}

.steeps-nav__desc {
    line-height: 1.1;
    margin-top: 3px;
}

.steeps-nav__item *:not(.steeps-nav__item.active *) {
    color: var(--dark-gray);
    transition: var(--normal);
}

.steeps-nav__item:hover *:not(.steeps-nav__item.active *) {
    color: var(--blue);
}

.steeps-nav__item {
    padding-left: 34px;
    position: relative;
}

.steeps-nav__icon {
    content: "";
    background-color: #b5b6b8;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    top: 3px;
    left: 0;
    position: absolute;
}

.steeps-nav__item.active .steeps-nav__icon {
    background-color: var(--blue);
}

.steeps-nav__icon:before {
    width: calc(100% + 8px);
    height: calc(100% + 8px);
}

.steeps-nav__icon:before, .steeps-nav__icon:after {
    content: "";
    background-color: #175ed9;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--normal);
}

.steeps-nav__icon:after {
    width: calc(100% + 18px);
    height: calc(100% + 18px);
}

.steeps-nav__item.current .steeps-nav__icon:before, .steeps-nav__item.current .steeps-nav__icon:after {
    opacity: .1;
}

.steep {
    width: 100%;
    transition: var(--normal);
}

.steep.hide {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: -10;
}

.add-profile-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.steep-wrap {
    background-color: #fff;
    padding: 28px 34px;
    border-radius: 7px;
    margin-top: 10px;
}

.steep-wrap:first-child {
    margin-top: 0;
}

.save-and-next, .save-draft , .save-end {
    font-weight: 600;
    padding: 12px 15px 10px;
    margin-top: 30px;
}

.input-text::placeholder {
    font-size: 12px;
}

.user-avatar {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.preview-avatar {
    position: relative;
}

.preview-avatar-wrap {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--gray);
    display: flex;
    cursor: pointer;
    position: relative;
}

.preview-avatar-wrap__text {
    font: 400 16px sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: var(--normal);
    width: max-content;
}

.preview-avatar-wrap:hover .preview-avatar-wrap__text {
    color: var(--dark-gray);
}

.preview-avatar__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #175ed9;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 3px;
    transition: var(--normal);
    z-index: 10;
}

.preview-avatar__icon svg {
    width: 22px;
    height: 19px;
    fill: #fff;
}

.delete-avatar {
    color: #cdd1d6;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.delete-avatar.hide {
    display: none;
}

.preview-avatar-wrap .bg-img {
    z-index: 5;
}

.select-arrow {
    width: 13px;
    height: 10px;
    fill: #8b8b8c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    transition: var(--normal);
}

.select, .select__output {
    background-color: var(--gray);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--black);
    cursor: pointer;
}

.select-form.focus-select .select-list {
    max-height: 163px;
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
    border-color: #cdd1d6;
}

.select-form.focus-select {
    border-color: #cdd1d6;
    border-radius: 7px 7px 0 0;
}

.select-form.focus-select:hover {
    border-color: #cdd1d6;
}

.select-form.focus-select .select-arrow {
    transform: translateY(-50%) rotate(180deg);
}

.select-list {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 3;
    overflow: hidden;
    width: calc(100% + 2px);
    height: 0;
    border: 1px solid transparent;
    border-bottom: none;
}

.select-list__item {
    width: 100%;
    min-height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4em 1.1em;
    border-bottom: 1px solid #cdd1d6;
}

.select-list__item:hover {
    background-color: var(--gray);
}

.select-list__item:last-child {
    border-radius: 0 0 7px 7px;
}

.text-public {
    color: var(--dark-gray);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 3px;
}

.settings-public {
    width: 100%;
    margin-top: 18px;
    grid-gap: 18px;
}

.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.settings-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 36px;
    cursor: pointer;
}

.settings-wrap__title {
    color: var(--black);
    display: block;
    font: 600 16px sans-serif;
    margin-top: 4px;
    position: relative;
}

.settings-wrap__title:before {
    height: 14px;
    left: -31px;
    top: 1px;
    width: 14px;
    background-color: #175ed9;
    opacity: 0;
    transition: var(--normal);
}

.settings-wrap__title:after, .settings-wrap__title:before {
    position: absolute;
    content: "";
    border-radius: 50%;
}

.settings-wrap__title:after {
    border: 2px solid #175ed9;
    height: 24px;
    left: -36px;
    top: -4px;
    width: 24px;
}

.settings-wrap__radio:checked + .settings-wrap__title:before {
    opacity: 1;
}

.settings-wrap__desc {
    color: #8b8b8c;
    display: block;
    font-size: 12px;
    margin-top: 4px;
}

.user-current-avatar, .input-photo-preview, .input-photo-load {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.grid-col-2_3 {
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-gap: 20px;
}

.user-total-info__name {
    color: var(--black);
    font: 900 24px/1.1 sans-serif;
}

.status-moderation, .moderation-text {
    margin-top: 10px;
}

.status-moderation__text, .moderation-text, .status-moderation__title {
    font-size: 16px;
}

.-status-error {
    color: var(--red);
}

.save-draft {
    margin-right: 10px;
}

.save-end.hide {
    display: none;
}

.save-and-next.hide {
    display: none;
}

.save-draft.hide {
    display: none;
}

.buttons-save {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-photo, .input-photo-community,
.input-photo-cemetery, .input-photo-profile
{
    background-color: var(--gray);
    border: 1px solid #cdd1d6;
    border-radius: 7px;
    color: var(--black);
    padding: 15px 15px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.input-photo-preview, .input-photo-load {
    border-radius: 7px;
    margin: 0 6px 20px;
}

.input-photo-load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    opacity: .75;
    transition: var(--normal);
}

.input-photo-load__text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.input-photo-load:hover {
    opacity: 1;
}

.input-photo-preview {
    width: 95px;
    height: 95px;
}

.delete-resource {
    position: absolute;
    height: 31px;
    width: 31px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    opacity: .7;
    transition: var(--normal);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-resource:hover {
    opacity: 1;
}

.delete-resource svg {
    width: 11px;
    height: 11px;
}

.input-banner .input-photo-preview, .input-banner .input-photo-load {
    width: 100%;
}

.input-banner .input-photo-preview {
    margin-bottom: 10px;
}

.input-banner .input-photo-preview {
    height: auto;
}

.input-banner .input-photo-preview .bg-img {
    position: static;
    transform: none;
}

.input-banner .input-photo-preview ~ .input-photo-load {
    display: none;
}

.name-cemetery {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}

.add-cemetery-wrap .preview-avatar-wrap {
    width: 150px;
    height: 150px;
}


#death_certificate {
    display: block;
}
