@import 'palette';

//TODO:add description to every var

//Серые цвета по умолчанию
$greys: (
    darkest: #111,
    darker: #222,
    middarker: #333,
    dark: #444,
    middark: #555,
    middle: #777,
    midlight: #999,
    light: #aaa,
    midlighter: #ccc,
    lighter: #ededed,
    lightest: #f5f5f5
);

//Серые
$black: #000;
$grey-darkest: #201e1f;
$grey-darker: red;
$grey-middarker: red;
$grey-dark: red;
$grey-middark: #555;
$grey: #797879; // text-secondary, select option text,
$grey-midlight: #8b8b8c; //select icon, select close
$grey-light: #cdd1d6;
$grey-midlighter: #e8effb;
$grey-lighter: #e5e8eb; //border, bg-secondary
$grey-lightest: #f5f7f9; // bg-body
$white: #fff;

//Основные цвета
$text-primary: $grey-darkest;
$bg-primary: $grey-lightest;
$border-primary: $grey-lightest;
$bg-body: $grey-lightest;
$header-primary: $text-primary;

//Дополнительные цвета
$text-secondary: $grey;
$bg-secondary: $grey-lighter;
$border-secondary: $grey-lighter;
$color-comment: $text-secondary;
$header-secondary: $header-primary;

//Другие цвета
$text-waiting: #D3850F;

//Ссылки
$link-color: $color-primary;
$link-color-hover: $color-primary;

//Формы
$input-color: $text-primary;
$input-bg: $grey-lightest;
$input-border: $grey-light;
//Чекбоксы
$check-bg: $input-border;
$check-border: $input-border;
//Элементы форм
$legend-color: $text-primary;
$label-color: $text-secondary;
$placeholder-color: rgba($text-primary, .3);
//При наведении
$input-color-hover: $input-color;
$input-bg-hover: $input-bg;
$input-border-hover: $color-primary;
//Ошибки
$input-error-color: $input-color;
$input-error-bg: $input-bg;
$input-error-border: $color-danger;
$placeholder-error: $placeholder-color;
//Ошибки при наведении
$input-error-color-hover: $input-error-color;
$input-error-bg-hover: $input-error-bg;
$input-error-border-hover: $input-border-hover;

//Кнопки
//primary
$btn-color: $white;
$btn-bg: $color-primary;
$btn-border: $btn-bg;
//secondary
$btn-secondary-color: $text-secondary;
$btn-secondary-bg: $grey-lightest;
$btn-secondary-border: $btn-secondary-bg;
//secondary при нведении
$btn-secondary-color-hover: rgba($text-primary, .8);
$btn-secondary-bg-hover: $grey-lightest;
$btn-secondary-border-hover: $btn-secondary-bg-hover;
//success
$btn-success-color: $white;
$btn-success-bg: palette(success, base);
$btn-success-border: $btn-success-bg;
//info
$btn-info-color: $white;
$btn-info-bg: palette(info, base);
$btn-info-border: $btn-info-bg;
//warning
$btn-warning-color: $white;
$btn-warning-bg: palette(warning, base);
$btn-warning-border: $btn-warning-bg;
//danger
$btn-danger-color: $white;
$btn-danger-bg: palette(danger, base);
$btn-danger-border: $btn-danger-bg;
//light
$btn-light-color: $grey;
$btn-light-bg: $grey-lightest;
$btn-light-border: $btn-light-bg;
//dark
$btn-dark-color: $white;
$btn-dark-bg: $grey-darker;
$btn-dark-border: $btn-dark-bg;

//Таблицы
$table-border: $border-secondary;
$table-odd-bg: rgba($grey-lightest, .5);
$table-th-bg: transparent;
$table-th-color: $grey-darker;

//Другие элементы
$blockquote-border-color: $color-primary;
